@{
    ViewBag.Title = "MisEventos";
    Layout = "~/Views/Shared/_LayoutExhibitor.cshtml";
}

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

        <div class="head-bloque">
            <div class="titulo">Mis eventos</div>
            <div class="tools">
                <div class="tool-1">
                    <a class="btn btn-red pull-right">Crear evento</a>
                </div>
                <div class="tool-1" style="width:200px !important;">
                    <span class="label-search">Buscar:</span>
                    <input type="text" class="busqueda input-search" id="#" />
                </div>
            </div>
        </div>
        <div class="white-box">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Sede</th>
                            <th>Fecha</th>
                            <th>Comienza en</th>
                            <th>Espacios</th>
                            <th>Expositores</th>
                            <th>Herramientas</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>12</td>
                            <td>Evento de prueba 1</td>
                            <td><span class="text-muted"> Guanajuato</span></td>
                            <td>12/12/2017 <i class="ico ico-80"></i> 01/01/2018</td>
                            <td>90 dias</td>
                            <td>110</td>
                            <td><a class="btn btn-formSucces btnPrevious pull-left" data-toggle="modal" data-target="#expositores">15</a></td>
                            <td>
                                <i class="ico ico-66 btn tooltip-info" data-toggle="tooltip" data-placement="top" title="" data-original-title="Sitio web"></i>
                                <i class="ico ico-60 btn tooltip-info" data-toggle="tooltip" data-placement="top" title="" data-original-title="Mapa"></i>
                                <i class="ico ico-22 btn tooltip-info" data-toggle="tooltip" data-placement="top" title="" data-original-title="Configuración"></i>
                                <i class="ico ico-71 btn tooltip-info" data-toggle="tooltip" data-placement="top" title="" data-original-title="Eliminar"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>12</td>
                            <td>Evento de prueba 1</td>
                            <td><span class="text-muted"> Guanajuato</span></td>
                            <td>12/12/2017 <i class="ico ico-80"></i> 01/01/2018</td>
                            <td>90 dias</td>
                            <td>110</td>
                            <td><a class="btn btn-formSucces btnPrevious pull-left" data-toggle="modal" data-target="#expositores">15</a></td>
                            <td>
                                <i class="ico ico-66 btn tooltip-info" data-toggle="tooltip" data-placement="top" title="" data-original-title="Sitio web"></i>
                                <i class="ico ico-60 btn tooltip-info" data-toggle="tooltip" data-placement="top" title="" data-original-title="Mapa"></i>
                                <i class="ico ico-22 btn tooltip-info" data-toggle="tooltip" data-placement="top" title="" data-original-title="Configuración"></i>
                                <i class="ico ico-71 btn tooltip-info" data-toggle="tooltip" data-placement="top" title="" data-original-title="Eliminar"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>12</td>
                            <td>Evento de prueba 1</td>
                            <td><span class="text-muted"> Guanajuato</span></td>
                            <td>12/12/2017 <i class="ico ico-80"></i> 01/01/2018</td>
                            <td>90 dias</td>
                            <td>110</td>
                            <td><a class="btn btn-formSucces btnPrevious pull-left" data-toggle="modal" data-target="#expositores">15</a></td>
                            <td>
                                <i class="ico ico-66 btn tooltip-info" data-toggle="tooltip" data-placement="top" title="" data-original-title="Sitio web"></i>
                                <i class="ico ico-60 btn tooltip-info" data-toggle="tooltip" data-placement="top" title="" data-original-title="Mapa"></i>
                                <i class="ico ico-22 btn tooltip-info" data-toggle="tooltip" data-placement="top" title="" data-original-title="Configuración"></i>
                                <i class="ico ico-71 btn tooltip-info" data-toggle="tooltip" data-placement="top" title="" data-original-title="Eliminar"></i>
                            </td>
                        </tr>



                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>