<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr" version="3.4.1.9004" targetFramework="net461" />
  <package id="bootstrap" version="3.0.0" targetFramework="net461" />
  <package id="BTC.ApiAcceso.Client" version="1.0.342" targetFramework="net461" />
  <package id="BTC.Common" version="1.0.84" targetFramework="net461" />
  <package id="BTC.Entities" version="1.0.476" targetFramework="net461" />
  <package id="chilkat-win32" version="9.5.0.58" targetFramework="net461" />
  <package id="Comercializacion.Service" version="1.0.53" targetFramework="net461" />
  <package id="Dapper" version="1.13" targetFramework="net461" />
  <package id="DogStatsD-CSharp-Client" version="2.0.2" targetFramework="net461" />
  <package id="Elasticsearch.Net" version="2.0.4" targetFramework="net461" />
  <package id="FluentValidation" version="6.2.1.0" targetFramework="net461" />
  <package id="Forza.Cache" version="1.1.5" targetFramework="net461" />
  <package id="Forza.Core" version="1.1.55" targetFramework="net461" />
  <package id="Forza.Core.MVCUtils" version="1.0.2" targetFramework="net461" />
  <package id="Forza.Core.Persistance" version="1.1.2" targetFramework="net461" />
  <package id="Forza.Cryptography" version="1.1.1" targetFramework="net461" />
  <package id="Forza.Logging" version="1.1.4" targetFramework="net461" />
  <package id="Forza.Web" version="1.1.30" targetFramework="net461" />
  <package id="GeniusesCode.Helper" version="2.14" targetFramework="net461" developmentDependency="true" />
  <package id="GeniusesCode.Web.Ajax" version="1.0.0" targetFramework="net461" />
  <package id="Hangfire" version="1.6.19" targetFramework="net461" />
  <package id="Hangfire.Core" version="1.6.19" targetFramework="net461" />
  <package id="Hangfire.SqlServer" version="1.6.19" targetFramework="net461" />
  <package id="jQuery" version="1.10.2" targetFramework="net461" />
  <package id="jQuery.Validation" version="1.11.1" targetFramework="net461" />
  <package id="LightAdo.net" version="4.6.0" targetFramework="net461" />
  <package id="Microsoft.ApplicationInsights" version="2.2.0" targetFramework="net461" />
  <package id="Microsoft.ApplicationInsights.Agent.Intercept" version="2.0.6" targetFramework="net461" />
  <package id="Microsoft.ApplicationInsights.DependencyCollector" version="2.2.0" targetFramework="net461" />
  <package id="Microsoft.ApplicationInsights.PerfCounterCollector" version="2.2.0" targetFramework="net461" />
  <package id="Microsoft.ApplicationInsights.Web" version="2.2.0" targetFramework="net461" />
  <package id="Microsoft.ApplicationInsights.WindowsServer" version="2.2.0" targetFramework="net461" />
  <package id="Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel" version="2.2.0" targetFramework="net461" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.Web.Optimization" version="1.1.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.4" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net461" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net461" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net461" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.0" targetFramework="net461" />
  <package id="Microsoft.jQuery.Unobtrusive.Validation" version="3.2.3" targetFramework="net461" />
  <package id="Microsoft.Net.Compilers" version="2.1.0" targetFramework="net461" developmentDependency="true" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net461" />
  <package id="Microsoft.Owin" version="3.0.0" targetFramework="net461" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="3.0.0" targetFramework="net461" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net461" />
  <package id="Modernizr" version="2.6.2" targetFramework="net461" />
  <package id="ncrontab" version="1.0.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net461" />
  <package id="NuGet.Client" version="4.2.0" targetFramework="net461" />
  <package id="NuGet.Common" version="4.2.0" targetFramework="net461" />
  <package id="NuGet.ContentModel" version="4.2.0" targetFramework="net461" />
  <package id="NuGet.Frameworks" version="4.2.0" targetFramework="net461" />
  <package id="NuGet.Packaging" version="4.2.0" targetFramework="net461" />
  <package id="NuGet.Packaging.Core" version="4.2.0" targetFramework="net461" />
  <package id="NuGet.Packaging.Core.Types" version="4.2.0" targetFramework="net461" />
  <package id="NuGet.Repositories" version="4.2.0" targetFramework="net461" />
  <package id="NuGet.RuntimeModel" version="4.2.0" targetFramework="net461" />
  <package id="NuGet.Versioning" version="4.2.0" targetFramework="net461" />
  <package id="OctoPack" version="3.6.3" targetFramework="net461" developmentDependency="true" />
  <package id="Owin" version="1.0" targetFramework="net461" />
  <package id="protobuf-net" version="2.0.0.668" targetFramework="net461" />
  <package id="PT.Platform.Common" version="1.0.190" targetFramework="net461" />
  <package id="QrCode.Net" version="0.4.0.0" targetFramework="net461" />
  <package id="Respond" version="1.2.0" targetFramework="net461" />
  <package id="RestSharp" version="105.1.0" targetFramework="net461" />
  <package id="Serilog" version="1.5.14" targetFramework="net461" />
  <package id="Serilog.Sinks.Elasticsearch" version="3.0.134" targetFramework="net461" />
  <package id="Serilog.Sinks.EventLog" version="1.5.11" targetFramework="net461" />
  <package id="StackExchange.Redis" version="1.1.608" targetFramework="net461" />
  <package id="StatsdClient" version="1.0.0.19" targetFramework="net461" />
  <package id="structuremap" version="3.1.9.463" targetFramework="net461" />
  <package id="WebGrease" version="1.5.2" targetFramework="net461" />
</packages>