@using Comercializacion.Client.Common

<table class="table color-bordered-table infoXS-bordered-table">
    <thead>
        <tr>
            <th>@SessionManager.GetText("ACC_Pago_datos_cuenta_title")<a class="mytooltip txtWhite" href="javascript:void(0)"> <i class="ti-info" style="font-weight: 900;"></i> <span class="tooltip-content5"><span class="tooltip-text3"><span class="tooltip-inner2">@(string.Format(SessionManager.GetText("ACC_Pago_datos_text_Warning"), "COLOCAR PORCENTAJE"))</span></span></span></a></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                SOCIEDAD MEXICANA DE UROLOGÍA, COLEGIO DE PROFESIONISTAS AC.
                <br />Banco: Santander (México)
                <br />Cuenta No. 65501499850
                <br />Transferencia bancaria
                <br />Clabe: 014180655014998508
                <br />Cuenta En Pesos Mexicanos
            </td>
        </tr>
    </tbody>
</table>
