@using Comercializacion.Client.Common
<header>
    <div id="logo"><a href="@Url.Action("Index", "Home")"><img src="@SessionManager.logoEventoChiquitoURL" alt="Homepage"></a></div> @*"@SessionManager.UrlLogoEvento"*@
    <div id="cd-hamburger-menu"><a class="cd-img-replace" href="#0">Menu</a></div>
</header>
