@using Comercializacion.Client.Common
    <div class="terminos" >
        <span class="pull-left"><a target="_blank" href="@SessionManager.TermsConditionsResource">@SessionManager.GetText("ACC_Footer_terminos")</a> | 
		<a target="_blank" href="@SessionManager.PrivacyPoliciesResource">@SessionManager.GetText("ACC_Footer_Aviso")</a></span>
        <span class="pull-right">Powered by <img src="/Content/img/logo-btc-corporativo.png"></span>
    </div>